body{
    margin:0;
    background:#eef2f8;
    font-family:Segoe UI,sans-serif;
}

.admin-dashboard{
    padding:30px;
}

.dashboard-title{
    text-align:center;
    color:#1f3c88;
    font-size:40px;
    margin-bottom:30px;
}

.dashboard-cards{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    margin-bottom:30px;
}

.card{
    flex:1;
    min-width:220px;
    color:white;
    text-align:center;
    border-radius:12px;
    padding:25px;
    box-shadow:0 8px 18px rgba(0,0,0,.15);
}

.card h2{
    font-size:42px;
    margin:0;
}

.card p{
    margin-top:10px;
    font-size:18px;
    font-weight:bold;
}

.total{
    background:#1f3c88;
}

.pending-card{
    background:#f39c12;
}

.progress-card{
    background:#3498db;
}

.resolved-card{
    background:#27ae60;
}

.search-box{
    width:100%;
    padding:15px;
    font-size:17px;
    border-radius:10px;
    border:1px solid #ccc;
    margin-bottom:25px;
    outline:none;
}

.search-box:focus{
    border:2px solid #1f3c88;
}

.table-container{
    background:white;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
}

.complaint-table{
    width:100%;
    border-collapse:collapse;
}

.complaint-table thead{
    background:#1f3c88;
}

.complaint-table th{
    color:white;
    padding:18px;
    font-size:17px;
}

.complaint-table td{
    padding:16px;
    text-align:center;
    border-bottom:1px solid #ddd;
}

.complaint-table tbody tr:nth-child(even){
    background:#f5f7fb;
}

.complaint-table tbody tr:hover{
    background:#eaf2ff;
}

.status-pending{
    background:#ff9800;
    color:white;
    padding:6px 15px;
    border-radius:20px;
    font-weight:bold;
}

.status-progress{
    background:#2196f3;
    color:white;
    padding:6px 15px;
    border-radius:20px;
    font-weight:bold;
}

.status-resolved{
    background:#4caf50;
    color:white;
    padding:6px 15px;
    border-radius:20px;
    font-weight:bold;
}

.no-data{
    text-align:center;
    font-size:18px;
    padding:30px;
    color:gray;
}

@media(max-width:900px){

.dashboard-cards{
    flex-direction:column;
}

.dashboard-title{
    font-size:30px;
}

.search-box{
    font-size:15px;
}

.complaint-table{
    font-size:14px;
}

}