.complaint-page {
  min-height: 100vh;
  background: #eef3ff;
  padding: 40px 20px;
}

.complaint-page h1 {
  text-align: center;
  color: #12306b;
  font-size: 42px;
  margin-bottom: 10px;
}

.progress {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin: 30px 0;
}

.progress div {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
}

.progress .done,
.progress .active {
  background: royalblue;
  color: #fff;
}

.complaint-card {
  max-width: 950px;
  margin: auto;
  background: #fff;
  border-radius: 15px;
  padding: 35px;
  box-shadow: 0 8px 25px rgba(0,0,0,.15);
}

.complaint-card h3 {
  color: #12306b;
  margin-bottom: 20px;
}

.details-box {
  background: #f5f8ff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 25px;
  line-height: 2;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 20px;
  font-weight: 600;
  color: #12306b;
  margin-bottom: 8px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 17px;
  outline: none;
  transition: .3s;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
  border-color: royalblue;
}

.form-group textarea {
  height: 130px;
  resize: none;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 20px 0;
}

.preview-image {
  width: 170px;
  height: 170px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid #ddd;
  box-shadow: 0 5px 15px rgba(0,0,0,.15);
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.buttons button {
  padding: 13px 35px;
  border: none;
  border-radius: 8px;
  font-size: 17px;
  cursor: pointer;
  transition: .3s;
}

.buttons button:first-child {
  background: gray;
  color: white;
}

.next-btn {
  background: royalblue;
  color: white;
}

.buttons button:hover {
  transform: scale(1.05);
}