.footer{
    background:#0b1f4d;
    color:white;
    padding:18px 0;
    margin-top:50px;
}

.footer-container{
    width:90%;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.footer-left p{
    font-size:14px;
}

.footer-right{
    display:flex;
    gap:25px;
}

.footer-right a{
    color:white;
    text-decoration:none;
    font-size:14px;
    transition:0.3s;
}

.footer-right a:hover{
    color:#4da3ff;
}

@media (max-width:768px){

.footer-container{
    flex-direction:column;
    text-align:center;
    gap:10px;
}

.footer-right{
    flex-direction:column;
    gap:8px;
}

}
