.preview-page{
    min-height:100vh;
    background:#eef3ff;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:40px;
}

.preview-card{
    width:700px;
    background:white;
    padding:35px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
}

.preview-card h1{
    text-align:center;
}

.preview-card h3{
    color:#0d2d73;
    margin-top:20px;
}

.preview-card p{
    font-size:18px;
    margin:12px 0;
}

.preview-image{
    width:250px;
    margin-top:15px;
    border-radius:10px;
    border:2px solid #ddd;
}

.buttons{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-top:30px;
}

.back-btn,
.submit-btn{
    padding:12px 30px;
    border:none;
    border-radius:8px;
    font-size:18px;
    cursor:pointer;
}

.back-btn{
    background:#6c757d;
    color:white;
}

.submit-btn{
    background:#3366ff;
    color:white;
}

.submit-btn:hover{
    background:#1d4ed8;
}